@use "./../../scss/palette.module" as p;
@use "./../../scss/mixins.module" as m;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2vw;

    min-height: calc(100% + constant(safe-area-inset-top));
    min-height: calc(100% + env(safe-area-inset-top));

    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    scroll-behavior: smooth;

    img {
        width: 200px;
        height: 200px;
    }
}

.stickur {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    input {
        width: 40px;
    }

    select {
        width: 50px;
    }
}
