@use "./../../scss/palette.module" as p;
@use "./../../scss/mixins.module" as m;

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    padding-left: 4vw;
    padding-right: 4vw;
}
.stickurs {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 4vw;
    padding: 0;
}
