@use "./../../scss/palette.module" as p;
@use "./../../scss/mixins.module" as m;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 104vh;
    padding: 4vw;

    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    padding: 1vh;
}

.wrapper {
    padding-left: 4vw;
    padding-right: 4vw;
}
.stickurs {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 2vw;
    grid-row-gap: 4vw;
}

.stickur {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
