@use "./scss/typography.module";
@use "./scss/mixins.module";
@use "./scss/palette.module" as p;
@use "./scss/button.module";

.App {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

    background-color: map-get(p.$dark-theme-colors, primary);
}
